<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">Add Contact</p>
            <p class="fsc-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quae quia, dolorum blanditiis laudantium nihil aspernatur consequatur illo amet libero error possimus nulla.
            </p>
        </div>
    </div>
</div>
<!-- <pre>{{groups | json}}</pre> -->
<!-- <pre>{{contact | json}}</pre> -->

<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>

<!---Contact Form-->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form (submit)="createSubmit()">
                <div class="mb-2">
                    <input
                     [(ngModel)]="contact.name" name="Name"   
                     class="form-control" placeholder="Name" type="text">
                </div>
                <div class="mb-2">
                    <input
                    [(ngModel)]="contact.photo" name="Photo"  
                     class="form-control" placeholder="Photo url" type="text">
                </div>
                <div class="mb-2">
                    <input
                    [(ngModel)]="contact.email" name="Email"  
                    class="form-control" placeholder="email" type="email">
                </div>
                <div class="mb-2">
                    <input
                    [(ngModel)]="contact.mobile" name="Mobile"  
                    class="form-control" placeholder="Mobile" type="number">
                </div>
                <div class="mb-2">
                    <input
                    [(ngModel)]="contact.company" name="Company"  
                    class="form-control" placeholder="Company" type="text">
                </div>
                <div class="mb-2">
                    <input
                    [(ngModel)]="contact.title" name="Title"  
                    class="form-control" placeholder="Title" type="text">
                </div>
                <div class="mb-2">
                    <select
                        [(ngModel)]="contact.groupId" name="groupId" 
                         class="form-control"  *ngIf="groups.length>0">
                        <option value="">Select a group</option>
                        <option [value]="group.id" *ngFor="let group of groups">{{group.name}}</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input class="btn btn-danger" value="Create" type="submit">
                    <a class="btn btn-dark  ms-2" routerLink="/">Close</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img [src]="contact.photo" alt="" class="contact-img">
        </div>
    </div>
</div>