<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">Edit Contact</p>
            <p class="fsc-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quae quia, dolorum blanditiis laudantium nihil aspernatur consequatur illo amet libero error possimus nulla.
            </p>
        </div>
    </div>
</div>

<!---Edit Form-->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form (submit)="submitUpdate()">
                <div class="mb-2">
                    <input
                    [(ngModel)]="contact.name"
                    [value]="contact.name"
                    name="Name"
                    class="form-control" placeholder="Name" type="text">
                </div>
                <div class="mb-2">
                    <input
                    [(ngModel)]="contact.photo"
                    [value]="contact.photo"
                    name="photo"
                    class="form-control" placeholder="Photo url" type="text">
                </div>
                <div class="mb-2">
                    <input 
                    [(ngModel)]="contact.email"
                    [value]="contact.email"
                    name="email"
                    class="form-control" placeholder="email" type="email">
                </div>
                <div class="mb-2">
                    <input
                    [(ngModel)]="contact.mobile"
                    [value]="contact.mobile"
                    name="mobile"
                    class="form-control" placeholder="Mobile" type="number">
                </div>
                <div class="mb-2">
                    <input
                    [(ngModel)]="contact.company"
                    [value]="contact.company"
                    name="company"
                    class="form-control" placeholder="Company" type="text">
                </div>
                <div class="mb-2">
                    <input 
                    [(ngModel)]="contact.title"
                    [value]="contact.title"
                    name="title"
                    class="form-control" placeholder="Title" type="text">
                </div>
                <div class="mb-2">
                    <select
                    [(ngModel)]="contact.groupId"
                    [value]="contact.groupId"
                    name="groupId"
                    class="form-control" >
                        <option value="">Select a group</option>
                        <option [value]="group.id" *ngFor="let group of groups">{{group.name}}</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input class="btn btn-danger" value="Update" type="submit">
                    <a class="btn btn-dark  ms-2" routerLink="/">Close</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img [src]="contact.photo" alt="" class="contact-img">
        </div>
    </div>
</div>

