<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">Edit Contact</p>
            <p class="fsc-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quae quia, dolorum blanditiis laudantium nihil aspernatur consequatur illo amet libero error possimus nulla.
            </p>
        </div>
    </div>
</div>

<!---Edit Form-->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form>
                <div class="mb-2">
                    <input class="form-control" placeholder="Name" type="text">
                </div>
                <div class="mb-2">
                    <input class="form-control" placeholder="Photo url" type="text">
                </div>
                <div class="mb-2">
                    <input class="form-control" placeholder="email" type="email">
                </div>
                <div class="mb-2">
                    <input class="form-control" placeholder="Mobile" type="number">
                </div>
                <div class="mb-2">
                    <input class="form-control" placeholder="Company" type="text">
                </div>
                <div class="mb-2">
                    <input class="form-control" placeholder="Title" type="text">
                </div>
                <div class="mb-2">
                    <select class="form-control" >
                        <option value="">Select a group</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input class="btn btn-danger" value="Update" type="submit">
                    <a class="btn btn-dark  ms-2" routerLink="/">Close</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img src="https://cdn-icons-png.flaticon.com/512/219/219983.png" alt="" class="contact-img">
        </div>
    </div>
</div>